@media only screen and (min-width: 700px) {
  .slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .zoom-slide-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  .zoom-slide {
    margin-bottom: 5vh;
  }
  .react-slideshow-zoom-wrapper {}
}

.img {
  max-height: 300px;
}