.hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    line-height: 1.6;
    height: 100vh;
    background-image: url("../../images/favicon.ico");
    background-repeat: no-repeat;
    background-position: 5vh;

}

.h1-hero {
    font-size: 2.5em;
    text-align: center;
}

.h2-hero {
    font-size: 1.9em;
}