body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFF0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
    margin-top: 20%;
}

h2 {
    text-align: center;
    margin-top: 30px
}

#hakkimizda p {
    text-align: center;
}

/* IMAGES */

.iletisim {
    margin-top: 30px;
}

.iletisim p {
    margin-left: 5%;
}

.iletisim address {
    margin-left: 5%;
    margin-top: 20%;
}

/* Think about switching to a state modeled app */