.up {
    position: fixed;
}

@media only screen and (min-width: 700px) {
    .img {
        height: 600px;
    }
    .h3 {
        margin-top: 10vh;
        margin-bottom: -20vh;
    }
    li {
        list-style-type: none;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .slide-container {
        margin: 15vh 20vw;
    }
}